@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-animate";

@theme {
  --color-bg: var(--bg);
  --color-islands: var(--islands);
  --color-text: var(--text);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
}

:root {
  --bg: oklch(98.7% 0.022 95.277);
  --islands: oklch(96.2% 0.059 95.617);
  --text: hsl(0,0%,5%);
  --accent: oklch(79.5% 0.184 86.047);
  --accent-hover:oklch(68.1% 0.162 75.834);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --bg:oklch(28.6% 0.066 53.813);
    --islands:oklch(36.855% 0.08078 58.738); */
    --bg:hsl(0, 0%, 11%);
    --islands:hsl(0, 0%, 15%);
    --accent:oklch(68.1% 0.162 75.834);
    --accent-hover:oklch(79.5% 0.184 86.047);
    --text:hsl(0,0%,90%)
  }
}

.shadow-islands:hover {
  box-shadow:
  2.5px 2px 10px color-mix(in srgb, var(--text) 40%, transparent),
  10px 10px 15px color-mix(in srgb, var(--text) 20%, transparent);
}


.link-underline-regular {
  @apply relative lg:mx-4 transition-colors duration-300 ease-in-out
          before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-0 before:bg-amber-400 
          before:transition-all before:duration-300 hover:before:w-full inline h-6 text-sm
           caret-transparent cursor-pointer;
}
.pseudos-links-regular {
  @apply active:text-amber-600 transition-colors duration-250;
}
